<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnLs9S2ONrhzMYHQfYaYI65C8iZbaJWy4</string>
	<key>GCM_SENDER_ID</key>
	<string>1016175004585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cvBuilder</string>
	<key>PROJECT_ID</key>
	<string>cv-builder-faea0</string>
	<key>STORAGE_BUCKET</key>
	<string>cv-builder-faea0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016175004585:ios:e89e2f1cdb699c49bbd2b8</string>
</dict>
</plist>